<form [formGroup]="titleForm">
  <div>
    <label for="title">Title</label>
    <input formControlName="title" />
    <label for="description">Description</label>
    <input formControlName="description" />
  </div>

  <button type="button" (click)="addNewQuestion()">Add new Question</button>
</form>

<form [formGroup]="QuestionForm">
  <div formArrayName="questions">
    <div
      *ngFor="let question of questionFormArray.controls; let i = index"
      [formGroupName]="i"
    >
      <div>
        <label for="title">Title</label>
        <input formControlName="title" />
        <label for="question">Question</label>
        <input formControlName="question" />
        <label for="answer">Answer</label>
        <input formControlName="answer" />
      </div>
      <button
        type="button"
        (click)="deleteQuestion(i)"
        *ngIf="questionFormArray.controls.length > 1"
      >
        Delete
      </button>
    </div>
  </div>

  <button type="button">Cancel</button>
  <button type="button" (click)="save()">Save</button>
</form>
